@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: rgb(35, 35, 35);
    color: white;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 15px;
}
form button {
    width: 100px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
}

input {
    padding: 8px;
    border-radius: 10px;
    border: 2px solid black;
}

span {
    color:rgb(197, 8, 197) ;
}

button {
    background-color:rgb(197, 8, 197)  ;
    border: none;
    color: white;
    font-size: large;
}